{% load static %}
  <!-- Footer Section -->
  <footer id="footer" class="header">
        <div class="container container--narrow">
            <nav class="header__nav">
                <div class="toggle-menu__lines"></div>
              </label>
              <ul class="header__menu">
                <li id="contacts"><p>Contacts <br> Phone:098675443 <br>Email: goldenshoe@gmail.com</p></li>
                <li><p>Social media: <br> Instagram: golden_shoe <br> Twitter: goldenshoe__1</p></li>
              </ul>
            </nav>
          </div>
</footer>